# OS X
.DS_Store

# Terraform
.terraform
terraform/backend_config.tf
terraform/configuration/
*.tfstate
*.tfstate.backup

# VS
.vscode/
*.secrets/
*.tgz

# Static data files
static_data_local/*
!static_data_local/README.md

# pyenv
.python-version

# Python
*__pycache__
