# OS X
.DS_Store

# Terraform
.terraform
terraform/backend_config.tf
*.tfstate
*.tfstate.backup

# VS
.vscode/
*.secrets/
*.tgz

# pyenv
.python-version
python-virtual-environments/

# Python
*__pycache__

# Python package
*.egg-info

# scoot data directories
containers/labs/experiments/data
containers/labs/experiments/models
containers/labs/experiments/results
containers/labs/experiments/figures

# Misc
images/
*.csv
*.png
*.npy
*.pickle
*-checkpoint.ipynb
val/
*.cfg
*-checkpoint.md
*.orig