# OS X
.DS_Store

# Terraform
.terraform
terraform/backend_config.tf
*.tfstate
*.tfstate.backup

# VS
.vscode/
*.secrets/
*.tgz

# pyenv
.python-version
python-virtual-environments/

# validation data directories
run_model/experiments/*/data
run_model/experiments/*/results
run_model/experiments/*/models/restore
run_model/experiments/*/meta
run_model/cluster
run_model/data

val/experiment_data/*/data
val/experiment_data/*/results
val/experiment_data/*/models/restore
val/experiment_data/*/meta
val/experiment_data/cluster/

# Python & notebooks
*__pycache__
.ipynb_checkpoints

# Python package
*.egg-info

# Misc
images/
