azure
azure-cli-core
azure-keyvault
boto3
colorlog
docker
flake8
flask
geoalchemy2
geopandas
matplotlib
pandas
psycopg2-binary
pycodestyle
pyflakes
pylint
python-dateutil
pytz
requests
sqlalchemy
termcolor
uuid
tensorflow==1.15
gpflow
plotly