azure==3.0.0
azure-cli-core
azure-keyvault
boto3
colorlog
docker
flake8
flask
geoalchemy2
geopandas
matplotlib
pandas
psycopg2-binary
pycodestyle
pyflakes
pylint
python-dateutil
pytz
requests
sqlalchemy
termcolor
uuid
git+https://github.com/GPflow/GPflow.git#egg=gpflow
plotly
