body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}


#sidebar{
    /*top: 0px;*/
    /*right: 0px;*/
    position: absolute;
    overflow: auto;
    height: 100%;
}

#chart{
    width: 300;
    height: 200;
}

.close{
    font-weight: bold;
    cursor: pointer;
}
.close:hover{
    color: tomato;
}

.panel{
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 16px;
    color: white;
    z-index: 99999;
    position: relative;
    background: rgb(32, 32, 32);
    border-top: solid 1px rgb(58, 58, 58);
    padding: 10px 20px;
}

.controls-options{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.mono{
    font-family: 'Roboto Mono', sans-serif;
}

.image-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    width: 281px;
    height: 230px;
}

.image{
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.annotation{
    position: absolute;
    object-fit: cover;
    width: 281px;
    height: 230px;

    /*clip: rect(0px,314px,217px,33px);*
    /*left: 4px;*/
}

.setting{
    display: flex;
    justify-content: space-between;
}

select, input {
    border: 2px solid rgb(58, 58, 58);
    /*border-radius: 5px;*/

    background: grey;
    color: white;

    padding: 6px 8px;
    font-family: inherit;
    font-size: 100%;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:white;"/></svg>');
    background-position: right 10px top 50%;
    background-size: 10px;
    background-repeat: no-repeat;
}

input:hover,
select:hover {
    outline: none;
    border: 2px solid yellow;
}

input[type='range']:disabled {
    opacity: 25%;
}