body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
}

#sidebar{
    top: 0px;
    right: 0px;
    position: absolute;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    justify-content: flex-start;
    overflow: auto;
    height: 100%;
}

#chart{
    width: 300;
    height: 200;
}

.close{
    font-weight: bold;
    cursor: pointer;
}
.close:hover{
    color: tomato;
}

.panel{
    color: white;
    z-index: 99999;
    position: relative;
    background: rgb(32, 32, 32);
    border: rgb(58, 58, 58);
    border-style: solid;
    border-radius: 5px;
    /* display: block; */
    padding: 10px;
    margin: 5px;
}

.controls-options{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.controls-container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.mono{
    font-family: 'Roboto Mono', sans-serif;
}

.logo{
    background-image: url('/static/img/odysseus_logo.png');
    background-size: contain;
    z-index: 99999;
    position: absolute;
    top: 20px;
    left: 30px;
    /*background: white;*/
    /*border-radius: 20px;*/
    width: 208px;
    height: 65px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.annotation{
    position: absolute;
    clip: rect(0px,314px,217px,33px);
    left: 37px;
}