<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Odysseus API Access</title>
    <link href="{{ url_for('static', path='css/auth.css') }}" rel="stylesheet">
    <!-- Chart -->
</head>
<body>

    <div class="topnav">
        <a href = "{{ url_for('logout') }}">Logout</a>
        <a class="user">{{user.preferred_username}}</a>
    </div>

    <div class = "container">
        <div class="item token">
            <h3>Generate an access token</h3>
            <p>Access tokens are short lived tokens which can be used to authenticate against the API.</p>
            <p>The tokens will <span>expire after 60 minutes</span>. Request a new token to access the API again</p>
            <div id = "access" class = "access">Click the button</div>
            <button class="btn success" onclick="getAccessToken()">+ Create a Token</button>
        </div>
    </div>

    <footer>
       <div>
           <p>Authorization for Odysseus API</p>
           <p>Copyright © 2019-2020 Alan Turing Institute</p>
        </div>
        
    </footer>

</body>

<script type="text/javascript">

function getAccessToken() {

    console.log("Access Token Requested")
    console.log(document.getElementById("access").innerHTML)
    // document.getElementById("access").innerHTML = "Hello Houda";

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        
            try {
                response = JSON.parse(this.responseText);
                document.getElementById("access").innerHTML = response.access_token;
            } catch(e){
                if (e instanceof TypeError) {
                    text = "Failed to fetch token. Contact administrator"
                    document.getElementById("access").innerHTML = text;
                    console.log(text)
                }
                else{
                    text = "Unknown error. Contact administrator"
                    document.getElementById("access").innerHTML = text;
                    console.log(text)
                }
            }
        }
    };
    xhttp.open("GET", "{{ url_for('odysseus_token') }}", true);
    xhttp.send();
}


</script>
</html>
