<!doctype html>
<title>Odysseus Camera Demo Map</title>

<!-- Chart -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
    integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ="
    crossorigin="anonymous"
    >
</script>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!-- Style -->
<link href="{{ url_for('static', path='css/map.css') }}" rel="stylesheet">

<!-- Mapbox -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />


<a class="logo"></a>

<div id="sidebar">
    <div id="controls" class="panel">
        <div class="controls-options">Options</div>
        <div class="controls-container">
            <label for="controls">Detection Classs</label><br>
            <select id="select-detection-class" onchange="changeMarkerType()">
            <option value="person">People</option>
            <option value="car">Cars</option>
            <option value="bus">Buses</option>
            <option value="motorbike">Motorbikes</option>
            <option value="truck">Trucks</option>
            <option value="all">All</option>
            </select>
        </div>
    </div>

    <div id="detailsPanel" class="panel mono" style="visibility: hidden;">
        <div style="text-align: right;"><a class="close" onclick="hideDetailsPanel()" >X</a></div>
        <div>
            <strong id="panel-camera-id">CAMERA:</strong>
            <br><br>
            <img id='img-ground-estimate' class='annotation image' src='' visibility="show">
            <img id='img-camera-view' class='image' src='' alr='" + camera.id}' width='281' height='230'>
            <br>
            <label for="checkbox-ground-estimate">Show ground estimate</label>
            <input type="checkbox" id="checkbox-ground-estimate" onchange="changeGroundEstimates()" checked>
            <br>
            <span style='color: red'>Parameter estimation export in queue</span><br>
            h &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Height (metres): <br>
            phi &nbsp;&nbsp;&nbsp; | Heading (degrees): <br>
            u_0,v_0 | Vanishing point (pixels):  <br>
            S &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Scale factor (NA):
        </div>
        <canvas id="chart" width="400" height="250"></canvas>
    </div>
</div>

<div id="mapid"></div>

<script type="text/javascript" src="{{ url_for('static', path='js/viridis.js') }}"></script>
<script type="text/javascript">

    const COLORS = {
        'truck': 'rgba(255, 99, 132, 0.7)',
        'car': 'rgba(255, 206, 86, 0.7)',
        'motorbike': 'rgba(75, 192, 192, 0.7)',
        'bus': 'rgba(153, 102, 255, 0.7)',
        'person': 'rgba(255, 159, 64, 0.7)'
    };

    const DETECTION_CLASSES = [
        'people',
        'all',
        'trucks',
        'cars',
        'motorbikes',
        'buses'
    ];

    let markerType = 'person';
    let showGroundEstimates = true;
    let selectedCam = '';

    let data = {
        'type': 'FeatureCollection',
        'features': []
    };

	mapboxgl.accessToken = 'pk.eyJ1IjoiamJyYW5kcmV0aCIsImEiOiJja2M2ZHB5eGEwcWd2Mnl0aXkzd2F4ajIwIn0.5C0L8qaycmDFzauh9kCQWw';
    let map = new mapboxgl.Map({
        container: 'mapid',
        style: 'mapbox://styles/mapbox/dark-v10',
        center: [-0.09, 51.505], // starting position [lng, lat]
        zoom: 10, // starting zoom
    });

    map.on('load', () => {

        // Map setup is contained in here - as layers can only be added after loading

        loadData();
        console.debug(data);
        map.addSource('jamcams', { type: 'geojson', data: data }); // This can be used to update the data later
        map.addLayer({
            id: 'jamcams',
            type: 'circle',
            source: 'jamcams',
            filter: [
                '==',
                ['string', ['get', 'type']],
                markerType
            ],
            paint: {
                'circle-radius': 8,
                'circle-color': [
                    'interpolate',
                    ['linear'],
                    ['number', ['get', 'counts']],
                    0, '#2DC4B2',
                    1, '#3BB3C3',
                    2, '#669EC4',
                    3, '#8B88B6',
                    4, '#A2719B',
                    5, '#AA5E79'
                ],
                'circle-stroke-color': 'lightgrey',
                'circle-stroke-width': 1,
                'circle-opacity': .8
            }
        })
        map.addLayer({
            id: 'jamcams-highlighted',
            type: 'circle',
            source: 'jamcams',
            filter: [
                '==',
                ['string', ['get', 'id']],
                selectedCam
            ],
            paint: {
                'circle-radius': 8,
                'circle-color': [
                    'interpolate',
                    ['linear'],
                    ['number', ['get', 'counts']],
                    0, '#2DC4B2',
                    1, '#3BB3C3',
                    2, '#669EC4',
                    3, '#8B88B6',
                    4, '#A2719B',
                    5, '#AA5E79'
                ],
                'circle-stroke-color': 'white',
                'circle-stroke-width': 3,
                'circle-opacity': 1
            }
        })

        map.on('mouseenter', 'jamcams', function() {
            map.getCanvas().style.cursor = 'pointer';
        });
        
        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'jamcams', function() {
            map.getCanvas().style.cursor = '';
        });

        map.on('click', 'jamcams', (e) => {
            let coordinates = e.features[0].geometry.coordinates.slice();
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }
            const camera = e.features[0].properties;

            selectedCam = camera.id;
            map.setFilter('jamcams-highlighted', ['==', ['string', ['get', 'id']], selectedCam]);
            updateGraph(camera);
            updatePanel(camera);
            showDetailsPanel();
        })

    });

    function refreshMarkers() {
        map.getSource('jamcams').setData(data);
    }

    function loadData(){
        console.debug("Loading data");

        let cameras; // To hold the camera data in between api calls

        fetch('https://api.tfl.gov.uk/Place/Type/JamCam/')
        .then((response) => {
            return response.json();
        })
        .then((json) => {
            cameras = new Map(json.map(cam => [cam.id.replace("JamCams_", ""), cam])); // Creates a list of cameras indexed by their id
            return Promise.all(DETECTION_CLASSES.map(detection_class => fetch('http://localhost:8000/api/v1/jamcams/hourly?detection_class=' + detection_class)));
        })
        .then((responses) => {
            return Promise.all(responses.map(res => res.json()));
        })
        .then((detection_classes_activities) => {
            for (detection_class_activities of detection_classes_activities){
                for (activity of detection_class_activities){
                    data.features.push(
                        {
                            'type': 'Feature',
                            'geometry': {
                                'type': 'Point',
                                'coordinates': [
                                    cameras.get(activity.camera_id).lon,
                                    cameras.get(activity.camera_id).lat
                                ]
                            },
                            'properties': {
                                'id': activity.camera_id,
                                'type': activity.detection_class,
                                'counts': activity.counts
                            }   
                        }
                    )
                }
            }
            map.getSource('jamcams').setData(data); // This loads the data into mapbox
        })
    }

    function updateGraph(camera) {
        chartConfig.options.title.text = `Loading camera ${camera.id}...`;
        chartConfig.data.labels = [];
        chartConfig.data.datasets = [];
        window.myChart.update();
        // https://urbanair.turing.ac.uk/

        console.log(camera.id)
        fetch(`api/v1/jamcams/raw?camera_id=${camera.id}`)
        .then((response) => {
            return response.json()
        })
        .then((result) => {
            let detection_classes = Array.from(new Set(result.map(({detection_class}) => detection_class)))
            for (type of detection_classes) {
                let subdat = result.filter(function(item){return item.detection_class == type})
                let counts =  subdat.map(({measurement_start_utc, counts}) => ({t:  new Date(measurement_start_utc,), y: counts})) 
            
            //     zeroIdxs = result.counts[type].filter(i => i > 0);
                    chartConfig.data.datasets.push(
                        {
                            label: type,
                            backgroundColor: COLORS[type],
                            borderColor: COLORS[type],
                            data: counts,
                            fill: false,
                        }
                    )
                    // console.log(chartConfig.data.datasets)
            }
            chartConfig.options.title.text = `Counts for camera ${camera.id} (last 12 hrs)`;
            window.myChart.update()
        });
    }

    function updatePanel(camera) {
        document.getElementById('panel-camera-id').innerText = `CAMERA: ${camera.id}`;
        document.getElementById('img-ground-estimate').src = `/static/img/annotations/${camera.id.replace("0000", "")}_annotated_image.png`
        document.getElementById('img-camera-view').src = `https://s3-eu-west-1.amazonaws.com/jamcams.tfl.gov.uk/${camera.id}.jpg`;
    }

    function setDetectionClassFilter(){
        map.setFilter('jamcams', ['==', ['string', ['get', 'type']], markerType]);
    }

    function changeMarkerType() {
        markerType = document.getElementById("select-detection-class").value;
        console.debug(markerType);
        setDetectionClassFilter();
    }

    function changeGroundEstimates(){
        showGroundEstimates = document.getElementById("checkbox-ground-estimate").checked;
        document.getElementById('img-ground-estimate').style.visibility = (showGroundEstimates ? "" : "hidden");
    }

    function showDetailsPanel() {
        document.getElementById('detailsPanel').style.visibility = "";
    }

    function hideDetailsPanel() {
        document.getElementById('detailsPanel').style.visibility = "hidden";
        selectedCam = "";
        map.setFilter('jamcams-highlighted', ['==', ['string', ['get', 'id']], selectedCam]);
    }

    document.onkeydown = (e) => {
        if (e.key=="Escape") {
            hideDetailsPanel();
        }
    }

    var ctx = document.getElementById('chart').getContext('2d');
    var chartConfig = {
        type: 'line',
        data: {
            labels: ['None'],
            datasets: []
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Click on a camera to see counts within last 12 hrs'
            },
            tooltips: {
                mode: 'x',
                intersect: false,
                bodyFontColor: '#fff',
                titleFontColor: '#fff',
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    },
                    type: 'time',
                    // distribution: 'linear',
                    time: {
                        parser: 'MM/DD/YYYY HH:mm',
                        tooltipFormat: 'll HH:mm',
                        unit: 'hour',
                        unitStepSize: 1,
                        displayFormats: {
                            'hour': 'HH:mm'
                        }
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Counts'
                    },
                    ticks: {
                        min: 0,
                        beginAtZero: true,
                        stepSize: 1,
                    }
                }]
            }
        }
    };
    window.myChart = new Chart(ctx, chartConfig);
</script>
<!--</section>-->
