<!doctype html>
<title>Odysseus Camera Demo Map</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="{{ url_for('static', path='css/map.css') }}" rel="stylesheet">


<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />


<a class="logo" href="https://www.turing.ac.uk/research/research-projects/project-odysseus-understanding-london-busyness-and-exiting-lockdown"></a>
<div id="controls">
    <div class="controls-options">Options</div>
    <div class="controls-container">
    <label for="controls">Activity snapshot</label><br>
    <select id="mySelect" onchange="changeMarkerType()">
      <option value="people">People</option>
      <option value="cars">Cars</option>
      <option value="buses">Buses</option>
      <option value="motorbikes">Motorbikes</option>
      <option value="trucks">Trucks</option>
      <option value="all">All</option>
    </select><br>
    <label for="controls">Ground Estimate</label><br>
    <select id="mySelect2" onchange="setGroundEstimates()">
      <option value="show">Shown</option>
      <option value="hide">Hidden</option>
    </select>
        <span style="color: red;">(experimental)</span>
    </div>
</div>
<div id="chart" style="display: none">
    <canvas id="myChart" width="400" height="250"></canvas>
</div>
<div id="mapid"></div>

<script type="text/javascript" src="{{ url_for('static', path='js/viridis.js') }}"></script>
<script type="text/javascript">

    const COLORS = {
        'truck': 'rgba(255, 99, 132, 0.7)',
        'car': 'rgba(255, 206, 86, 0.7)',
        'motorbike': 'rgba(75, 192, 192, 0.7)',
        'bus': 'rgba(153, 102, 255, 0.7)',
        'person': 'rgba(255, 159, 64, 0.7)'
    };

    const DETECTION_CLASSES = [
        'all',
        'trucks',
        'cars',
        'motorbikes',
        'buses',
        'people'
    ];

    let state = {
        markerType: 'people',
        showGroundEstimates: 'show'
    };

    let data = {
        'type': 'FeatureCollection',
        'features': []
    };

	mapboxgl.accessToken = 'pk.eyJ1IjoiamJyYW5kcmV0aCIsImEiOiJja2M2ZHB5eGEwcWd2Mnl0aXkzd2F4ajIwIn0.5C0L8qaycmDFzauh9kCQWw';
    let map = new mapboxgl.Map({
        container: 'mapid', // container id
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [-0.09, 51.505], // starting position [lng, lat]
        zoom: 9, // starting zoom
    });

    map.on('load', () => {
        loadData();
        console.debug(data);
        map.addSource('jamcams', { type: 'geojson', data: data }); // This can be used to update the data later
        map.addLayer({
            id: 'jamcams',
            type: 'circle',
            source: 'jamcams',
            paint: {
                'circle-radius': {
                    'base': 1.75,
                    'stops': [
                        [12, 2],
                        [22, 180]
                    ]
                },
                'circle-color': [
                    'interpolate',
                    ['linear'],
                    ['number', ['get', 'counts']],
                    0, '#2DC4B2',
                    1, '#3BB3C3',
                    2, '#669EC4',
                    3, '#8B88B6',
                    4, '#A2719B',
                    5, '#AA5E79'
                ],
                'circle-opacity': 1
            }
        })
    });

    function refreshMarkers() {
        map.getSource('jamcams').setData(data);
    }

    function loadData(){
        console.debug("Loading data");

        let cameras;

        fetch('https://api.tfl.gov.uk/Place/Type/JamCam/')
        .then((response) => {
            console.log("RESP");
            return response.json();
        })
        .then((json) => {
            console.log("JSON");
            cameras = new Map(json.map(cam => [cam.id.replace("JamCams_", ""), cam])); // Creates a list of cameras indexed by their id
            return Promise.all(DETECTION_CLASSES.map(detection_class => fetch('http://localhost:8000/api/v1/jamcams/hourly?detection_class=' + detection_class)));
        })
        .then((activities) => {
            console.log("ACTI");
            return Promise.all(activities.map(act => act.json()));
        })
        .then((detection_classes_activities) => {
            for (detection_class_activities of detection_classes_activities){
                for (activity of detection_class_activities){
                    data.features.push(
                        {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [
                                cameras.get(activity.camera_id).lon,
                                cameras.get(activity.camera_id).lat
                            ]
                        },
                        'properties': {
                            'type': activity.detection_class,
                            'counts': activity.counts
                        }
                        }
                    )
                }
            }
            map.getSource('jamcams').setData(data);
        })
    }

    // function updateGraph(e) {
    //     let camera_id = this.options.id.replace("JamCams_", "")
    //     document.getElementById("chart").style.display = "block";
    //     config.options.title.text = 'Loading ' + this.options.id.replace("JamCams_", "") + "...";
    //     config.data.labels = [];
    //     config.data.datasets = [];
    //     window.myChart.update();
    //     // https://urbanair.turing.ac.uk/

    //     console.log(camera_id)
    //     fetch('api/v1/jamcams/raw?camera_id=' + camera_id)
    //         .then(function (response) {
    //             response.json().then(function (result) {

    //                 let detection_classes = Array.from(new Set(result.map(({detection_class}) => detection_class)))
    //                 for (type of detection_classes) {
    //                     let subdat = result.filter(function(item){return item.detection_class == type})
    //                     let counts =  subdat.map(({measurement_start_utc, counts}) => ({t:  new Date(measurement_start_utc,), y: counts})) 
                    
    //                 //     zeroIdxs = result.counts[type].filter(i => i > 0);
    //                         config.data.datasets.push(
    //                             {
    //                                 label: type,
    //                                 backgroundColor: COLORS[type],
    //                                 borderColor: COLORS[type],
    //                                 data: counts,
    //                                 fill: false,
    //                             }
    //                         )
    //                         // console.log(config.data.datasets)
    //                 }
    //                 config.options.title.text = 'Counts for camera ' + this.options.id.replace("JamCams_", "") + ' (last 12 hrs)';
    //                 window.myChart.update()
    //             });
    //         });
    // }


    let markerType = 'people';
    let showGroundEstimates = 'show';

    let test = undefined;
    function updateMarkers(type){
        console.debug("Fetching jamcams");
        fetch('https://api.tfl.gov.uk/Place/Type/JamCam/').then(function (response) {
            response.json().then(function (cameras) {


                fetch('api/v1/jamcams/hourly?detection_class=' + type).then(function (response2) {
                    
                    response2.json().then(function (result2) {
                        
                        console.log(result2.status)
                        const activities = result2;

                        console.debug("Activities:")
                        console.debug(activities)

                        for (let camera of cameras) {
                            let camera_id = camera.id.replace("JamCams_", "")
                            let counts = activities.filter(function(item){return item.camera_id == camera_id})[0]
                            placeMarkerIcon(camera, counts)
                            // var marker = new mapboxgl.Marker()
                            //     .setLngLat([c.lon, c.lat])
                            //     .addTo(map);
                }

                        // console.log(activities)
                        
                        // for (let c of cameras) {
                        //     let camera_id = c.id.replace("JamCams_", "")
                        //     let counts = activities.filter(function(item){return item.camera_id == camera_id})[0]
                        //     console.debug(camera_id);
                        //     var marker = new mapboxgl.Marker()
                        //         .setLngLat([c.lon, c.lat])
                        //         .addTo(map);

                        //     // L.marker([c.lat, c.lon], options = {
                            //     'id': c.id,
                            //     'icon': generateIcon2(counts)
                            // }).addTo(mymap).bindPopup(
                            //     "<strong>" + c.id + "</strong>" +
                            //     "<br>" +
                            //     (showGroundEstimates == 'show' ? "<img class='annotation' src='/static/img/annotations/" + c.id.replace("JamCams_", "").replace("0000", "") + "_annotated_image.png'>":"") +
                            //     "<img src='https://s3-eu-west-1.amazonaws.com/jamcams.tfl.gov.uk/" + c.id.replace("JamCams_", "") + ".jpg' alr='" + c.id + "' width='281' height='230'>" +
                            //     "<br><div class='mono'>" +
                            //     "<span style='color: red'>Parameter estimation export in queue</span><br>" +
                            //     "h &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Height (metres): <br>" +
                            //     "phi &nbsp;&nbsp;&nbsp; | Heading (degrees): <br>" +
                            //     "u_0,v_0 | Vanishing point (pixels):  <br>" +
                            //     "S &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Scale factor (NA): </div>"
                            // ).on('click', updateGraph).addTo(markers);
                        // }
                        // mymap.addLayer(markers);
                    });
                });
            });
        });
    }

    // updateMarkers('people');

    function changeMarkerType() {
        // console.log('setting to ' + document.getElementById("mySelect").value);
        markerType = document.getElementById("mySelect").value;
        updateMarkers(document.getElementById("mySelect").value);
    }

    function setGroundEstimates(){
        showGroundEstimates = document.getElementById("mySelect2").value;
        console.log(showGroundEstimates);
        updateMarkers(document.getElementById("mySelect").value);
    }


    var ctx = document.getElementById('myChart').getContext('2d');
    var config = {
        type: 'line',
        data: {
            labels: ['None'],
            datasets: []
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Click on a camera to see counts within last 12 hrs'
            },
            tooltips: {
                mode: 'x',
                intersect: false,
                bodyFontColor: '#fff',
                titleFontColor: '#fff',
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    },
                    type: 'time',
                    // distribution: 'linear',
                    time: {
                        parser: 'MM/DD/YYYY HH:mm',
                        tooltipFormat: 'll HH:mm',
                        unit: 'hour',
                        unitStepSize: 1,
                        displayFormats: {
                            'hour': 'HH:mm'
                        }
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Counts'
                    },
                    ticks: {
                        min: 0,
                        beginAtZero: true,
                        stepSize: 1,
                    }
                }]
            }
        }
    };
    window.myChart = new Chart(ctx, config);
</script>
<!--</section>-->
