typer
loguru
slurmjobs
sacred
seml
scikit-learn
tabulate
jupyter
PyYAML
black
pandas 
matplotlib
geopandas
rtree
dvc
convertbng
rich
git+https://github.com/defaultobject/batchjax
git+https://github.com/defaultobject/stgp
tensorflow-probability
jaxlib
bibtexparser
flake8
flake8-docstrings
bng_latlon

