loguru
slurmjobs
sacred
seml
scikit-learn
tabulate
PyYAML
black
matplotlib
geopandas
rtree
dvc
convertbng
rich
bibtexparser
flake8
flake8-docstrings
bng_latlon
jaxlib
git+https://github.com/defaultobject/batchjax
git+https://github.com/defaultobject/stgp@pigp
git+https://github.com/defaultobject/stdata


