body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
}
#chart{
    z-index: 99999;
    position: absolute;
    bottom: 30px;
    right: 10px;
    background: #ffffff;
    border-radius: 10px;
    width: 400px;
    height: 250px;
}
#controls{
    z-index: 99999;
    position: absolute;
    top: 30px;
    right: 10px;
    background: #ffffff;
    border-radius: 10px;
    width: 200px;
    height: 130px;
}
.controls-options{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
}
.controls-container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
}
.mono{
    font-family: 'Roboto Mono', sans-serif;
}
.logo{
    background-image: url('/static/img/odysseus_logo.png');
    background-size: contain;
    z-index: 99999;
    position: absolute;
    bottom: 20px;
    left: 30px;
    /*background: white;*/
    /*border-radius: 20px;*/
    width: 208px;
    height: 65px;
}

.annotation{
    position: absolute;
    clip: rect(0px,314px,217px,33px);
    left: -13px;
}